# To see all the current bindings: bind -P
# To reload: bind -f  ~/.inputrc
# To see the character sequence that terminal sends, type cat then key.

set editing-mode vi

# ANSI colors
set show-mode-in-prompt on
set vi-ins-mode-string "\1\e[1;32m\2INS\1\e[0m\2 "
set vi-cmd-mode-string "\1\e[1;33m\2COM\1\e[0m\2 "

# Ignore case
set completion-ignore-case on

set keymap vi-command
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-p": previous-history
"\C-n": next-history

set keymap vi-insert
# Remap escape
"jk": vi-movement-mode 
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-p": previous-history
"\C-n": next-history
"\ef": forward-word
"\eb": backward-word
"\C-w": backward-kill-word
"\C-k": kill-line
"\C-l": clear-screen
